# {# pkglts, coverage
[html]
title = openalea.mtg's coverage
directory = build/htmlcov

[run]
source = openalea.mtg

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplemented
    raise NotImplementedError
show_missing = True

# #}
