include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include README.rst

include LICENSE

recursive-include test *


recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.rst
recursive-include doc *.md

include doc/conf.py
include doc/Makefile
include doc/make.bat
